@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Signup {
    height: 100vh;
    padding: 0 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.Signup form input {
    height: 30px;
    width:  90%;
    border-radius: 5px;
    padding: 0 5px;
}