.SavedTripsPage {
    position: relative;
}
.SavedTripsPage h1 {
    color: #0D47A1;
    margin: 16px;
    text-align: center;
}

.SavedTripsPage-add-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid #0D47A1;
    border-radius: 100%;
    font-size: 30px;
    font-weight: 400;
    display: grid;
    place-content: center;
    color: #0D47A1;
    top: 0;
    right: 0;
    margin: 0 10px;
}



.SavedTripsPage-div {
    margin: 0 0 100px 0;
}