@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.SavedTripsPage {
    position: relative;
    font-family: 'Roboto';
}
.SavedTripsPage h1 {
    color: #333333;
    margin: 30px 0 40px 20px;
    font-size: 24px;
}

.SavedTripsPage-add-btn {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: #F8BC23;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    display: grid;
    place-content: center;
    color: #333333;
    top: 0;
    right: 0;
    margin: 0 10px;
}



.SavedTripsPage-div {
    margin: 0 0 100px 0;
}