.TripHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background: #191919;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 70px 70px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}

.TripHeader-budget img {
    margin: 0 4px -3px 0;
}

.TripHeader-detail-bar {
    width: 360px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.TripHeader-detail-bar p {
    margin: 0 5px;
}
.TripHeader-detail-bar p img {
    margin: 0 2px -1px 0;
}

.TripHeader-budget-bar {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.TripHeader-budget-bar div p {
    margin: 0;
}
.TripHeader-budget-bar div p:first-child {
    display: flex;
    align-items: center;
}
.TripHeader-budget-bar div p:last-child {
    font-weight: 400;
    letter-spacing: 0;
}
.TripHeader-budget-bar div p img {
    width: 15px;
    height: 15px;
    margin: 0 2px 0 0;
}
.TripHeader-budget-bar-flight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100%;
    background-color: #F8BC23;
    border-radius: 30px 0px 0px 30px;
    border: none;
}
.TripHeader-budget-bar-acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100%;
    background-color: #FAD986;
    border-left: 1px solid #191919;
    border-right: 1px solid #191919;
}
.TripHeader-budget-bar-food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100%;
    background-color: #F6E6BC;
    border-radius: 0px 30px 30px 0px;
    border: none;
}

.edit-btn {
    background-color: #F8BC23;
    color: black;
    position: absolute;
    bottom: 0;
    left: 45%;
    border-radius: 50px;
    margin: 10px;
    padding: 2px 5px;
}