@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100vw;
    margin: 0;
    padding: 0 5px 0 0;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 100vw;
}

#root {
    width: 100%;
}

a {
    text-decoration: none;
}
ol, ul, li {
    margin: 0;
    padding: 0;
}