@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100vw;
}

a {
    text-decoration: none;
}
ol, ul, li {
    margin: 0;
    padding: 0;
}