.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(0, 123, 255);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    height: 50px;
}