.SearchResultsPage-btn-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
}

.SearchResultsPage-btn-bar button {
    background-color: #E3F2FD;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    margin: 0 5px;
}